.navbar {
    background-color: 	#2d2d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    color: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: 	white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

.nav-links li a {
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: 	white;
    border-radius: 5px;
     transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-links li a:hover {
    color: 	#f0f0f0;
    cursor: pointer;
    transform: scale(1.05);   
}

.search-form {
    display: flex;
    align-items: center;
    border: none;
    gap: .5rem;
}

.search-form input {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
}

.search-form button {
    padding: .5rem 1rem;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #f0f0f0;
}